.background1{
    background-color: rgb(22, 187, 22);
}
.background2{
    background-color: rgb(237, 142, 25);
}
.list_style{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}
li{
    padding: 20px;
}